<div class="card" style="width: 18rem;">

    <img class="card-img-top" src="<%= img_src %>">
    <div class="card-body">
            <h5 class="card-title"><%= card_title %></h5>
            <p class="card-text"><%= card_text %> </p>
            <a href="<%= linked %>" class="btn btn-primary"><%= go_here %> </a>
    </div>
</div>         